<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="../static/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carlos Diaz - Home</title>
    </head>
    <body>
        <header>
            <h4 style="color: #212930; margin-right: auto;">C D</h4>
            <nav>
                <ul class="nav_links">
                    <li style="color: #212930; font-weight: 700; cursor: pointer;">Home</li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="https://www.linkedin.com/in/carlos-diaz-82b275273/" target="_blank">LinkedIn</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1 style="padding: 120px 25% 150px;"><span style="font-weight: 700;"">I'm Carlos</span> — an aspiring UX/UI designer<br>who loves to create enjoyable experiences for others.</h1>
                <div class="container">
                    <a href="forum.html" class="project">
                        <div style="display: flex; align-items: center; margin-bottom: 75px;">
                            <div style="margin-right: 45px;">
                                <h3>4RUMS</h3>
                                <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <div>
                                <img src="../static/images/4rums_mock.png" class="card-img-top img" alt="Mockup of 4RUMS homepage on a laptop.">
                            </div>
                        </div>
                    </a>
                </div>
            <div class="container">
                <a href="thwip.html" class="project">
                    <div style="display: flex; align-items: center; margin-bottom: 75px;">
                        <img src="../static/images/thwip_mock.png" class="card-img-top img" style="margin-right: 45px;" alt="Mockup of THWIP homepage on a laptop.">
                        <div>
                            <h3>THWIP!</h3>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="container">
                <a href="spinner.html" class="project">
                    <div style="display: flex; align-items: center; margin-bottom: 75px;">
                        <div style="margin-right: 45px;">
                            <h3>K's Spinner (3D modeling)</h3>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <img src="../static/images/k_mock.png" class="card-img-top img" alt="Mockup of untextured Spinner model homepage on a laptop.">
                    </div>
                </a>
            </div>
            <div class="container">
                <a href="stem.html" class="project">
                    <div style="display: flex; align-items: center; margin-bottom: 75px;">
                        <img src="../static/images/stem_mock.png" class="card-img-top img" style="margin-right: 45px;" alt="Mockup of paper's title page on a laptop.">
                        <div>
                            <h3>Motivation in STEM (Academic Paper)</h3>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="container">
                <div style="display: flex; ; align-items: center; margin-bottom: 115px;">
                    <div style="margin-right: 45px;">
                        <h3>Personal Website Prototype</h3>
                        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <div class="img2">
                        <img src="../static/images/proto_layout.jpg" style="width: 90%; opacity: 38%;" alt="Image of handrawn prototype for portfolio website with 'Coming soon' in the center of the photo.">
                        <div style="font-size: 28px; font-weight: 700; background-color: transparent; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">Coming soon...</div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>